.beginpage {
background-color: white;
}

.spacefiller {
background-color: white;
height: 130px;
}

.stripe {
background-color: #bfbfbf;
height: 5px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 10px;
}

.page {
background-color: white;
margin: -30;
}

.hdr {
font-family: 'Limelight', Courier, sans-serif;
text-align: center;
background-color: white;
border-radius: 0px;
margin-bottom: 30px;
height: 220px;
padding: 40px;
}

.hdrmaintext {
font-size: 70px;
}

.hdrsubtext {
font-size: 20px;
}

.nav {
font-family: Courier, sans-serif;
}

.button {
margin-left: 4%;
}

.buttonimage {
border-radius: 20px;
height: 250;
width: 250;
margin-bottom: 20px;
}

.pictures {
text-align: center;
}

.screenshot {
border: 0;
width: 100%;
}

.jumbotube {
background-color: #e52d27;
color: white;
}

.jumbofb {
background-color: #3b5998;
color: white;
}

.jumbotwit {
background-color: #4099ff;
color: white;
}

.jumboinsta {
background-color: #9b6954;
color: white;
}

.jumbotumblr {
background-color: #35465c;
color: white;
}

.jumbosnap {
background-color: #fffc00;
color: white;
}

.jumbowhapp {
background-color: #43d854;
color: white;
}

.infotext {
margin-left: 2%;
font-family: Courier;
}

footer {
font-family: Courier;
margin-left: 2%;
}

.spacefillertwo {
height: 40px;
}

ul {
font-family: Courier;
}
